{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "@nuxt/eslint-config"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": [
          "tsconfig.json",
          "server/tsconfig.json",
          "client/tsconfig.json"
        ]
      },
      "node": {
        "project": [
          "tsconfig.json",
          "server/tsconfig.json",
          "client/tsconfig.json"
        ]
      }
    }
  }
}
